doctype html
- var user = usuario
- var individual = tareas
- var grupal = tareasGrupales
html
  include ../layouts/head.pug
  body
    include ../layouts/nav.pug
    
    div(class="container")
      div(class="row")
        div(class="s12", id="space")
        div(class="col s2")
        div(class="col s8" id="profile")
          div(class="col s12")
            div(class="card horizontal")
              div(class="card-image")
                img(class="responsive-img" src='' + user.photos[0].value)
              div(class="card-stacked")
                div(class="card-content" id="pspace")
                  p Usuario: #{user.username}
                  p Nombre: #{user.displayName}
                div(class="card-action")
                  a(class="cenlace" href="https://github.com/" + user.username class="blue-text text-darken-4") Perfil de github
        div(class="col s2")
        div(align="center" class="col s12" id="ispace") 
          div(class="col s12")
            h3(align="center") Tareas individuales
            div(class="col s6")
              p(align="center" class="lttext") Aula      
            div(class="col s6") 
              p(align="center" class="lttext") Tarea
            if individual
              each i in individual
                div(class="col s6")
                  p(align="center" class="ltext") #{i.assignName} 
                div(class="col s6") 
                  a(href="https://github.com/" + i.orgLogin + "/" + i.name  align="center" class="ltext") #{i.name} 
            else 
              p(class="ltext" align="center") No tiene tareas individuales
        div(align="center" class="col s12" id="ispace") 
          div(class="col s12")
            h3(align="center") Tareas grupales
            div(class="col s6")
              p(align="center" class="lttext") Tarea      
            div(class="col s6") 
              p(align="center" class="lttext") Tarea
            if grupal
              each i in grupal
                div(class="col s6")
                  p(align="center" class="ltext") #{i.assignName}      
                div(class="col s6") 
                  a(href="https://github.com/" + i.orgLogin + "/" + i.name align="center" class="ltext") #{i.name}
            else 
              p(class="ltext" align="center") No tiene tareas grupales
    include ../layouts/footer.pug
