- var tarea = assign
- var aula = classroom
- var repos = assigns
- var alumnos = students
doctype html

html
  include ../layouts/headParams2.pug
  body
    include ../layouts/nav.pug
    div(class="container")
      div(class="row")
        div(class="col s12", id="space")
          div(class="tabs is-centered")
            ul
              li(class="is-active" id="butrepos"): a(href="#") Repos
              li(id="butinvi" class=""): a(href="#") Enlace de invitación
              li(id="buteval" class=""): a(href="#") Repositorio de evaluación
              li(id="butoptions" class=""): a(href="/options/" + aula + "/" + tarea) Opciones 
        div(class="col s12 esconder", id="ainvi")     
          p(align="center" class="ftxt") Haga click en el siguiente botón para copiar el enlace de invitación a #{tarea}    
          p(align="center" class="ftxt") 
            span(class="iispace") https://codelab-tfg1718.herokuapp.com/assigninvitation/#{aula}/#{tarea}
            button(id="btn" class="button button-circle white-text light-blue darken-4", data-clipboard-text="https://codelab-tfg1718.herokuapp.com/assigninvitation/" + aula + "/" + tarea): i(class="octicon octicon-clippy iicons")        
        div(align="center" class="col s12 esconder", id="eval") 
          p(align="center" class="ftxt") Haga click en el siguiente botón para crear un repositorio de evaluación en github con los submodulos de #{tarea}       
          p(align="center" class="ftxt") Para más información, haga click 
            a(href="/help") aquí
          form(class="col s12" method="post" action="/evalrepo/" + aula + "/" + tarea)
            button(class="btn-large waves-effect waves-light white-text light-blue darken-4" type="submit") Crear repositorio de evaluación
        div(class="col s12", id="repos")   
          h4(align="center" class="fclass") Repositorios
          div(class="col s12", id="ispace") 
          div(class="col s3")
            p(align="center" class="ftxt")  
              b Repo
          div(class="col s9")
            div(class="col s3 ftxt" align="center") 
              b Github ID
            div(class="col s3 ftxt" align="center") 
              b Nombre
            div(class="col s3 ftxt" align="center") 
              b Travis
            div(class="col s3 ftxt" align="center") 
              b Email
          div(class="col s12")
            if repos
              each i in repos
                div(class="col s3")
                  p(align="center" class="ftxt")  
                    a(href="https://github.com/" + i.orgLogin + "/" + i.name) #{i.name} 
                div(class="col s9")
                  p(align="center" class="ftxt") 
                    each j in alumnos
                      if j.idGithub == i.StudentLogin
                        div(class="col s3" align="center") #{i.StudentLogin}
                        div(class="col s3" align="center") #{j.name} #{j.surname}
                        div(class="col s3" align="center") 
                          a(href="https://travis-ci.org/"+ i.orgLogin + "/" + i.name) Travis CI
                        div(class="col s3" align="center") #{j.email}
              else
                div(align="center" class="col s12")
                  p(class="noclass") No tiene repositorios activos.      
            else   
              div(align="center" class="col s12")
                p(class="noclass") No tiene repositorios activos.      
                
    include ../layouts/footerParams2.pug
    script(type="text/javascript", src="../../js/assign.js")
    script(type="text/javascript", src="../../js/copy.js")
