- var aula = classroom
- var tarea = assign
doctype html

html
  include ../layouts/headParams.pug
  body
    include ../layouts/nav.pug       
    div(class="container")
      div(class="row")
        div(class="col s12", id="space") 
          div(class="tabs is-centered")
            ul
              li(class="is-active" id="buttarea"): a(href="#") Tareas
              li(id="butinvi" class=""): a(href="#") Enlace de invitación
              li(id="butpindiv" class=""): a(href="/new/"+ aula) Nueva Asignación
              li(id="butoptions" class=""): a(href="/options/"+ aula) Opciones
              li(id="butalum" class=""): a(href="/alumnos/"+ aula) Alumnos
              li(id="butfile" class=""): a(href="/upload/"+ aula) Subir fichero de alumnos
        div(class="col s12 esconder", id="iinvi")      
          p(align="center" class="ftxt") Haga click en el siguiente botón para copiar el enlace de invitación a #{aula}   
          div(id="ispace")
          p(align="center" class="ftxt") 
            span(class="iispace") https://codelab-tfg1718.herokuapp.com/invitation/#{aula}
            button(id="btn" class="button button-circle white-text light-blue darken-4", data-clipboard-text="https://codelab-tfg1718.herokuapp.com/invitation/" + aula): i(class="octicon octicon-clippy iicons")
        
        div(align="center" class="col s12" id="tareas") 
          h4(align="center" class="fclass") Tareas 
          div(class="col s12", id="ispace") 
            div(class="col s3")
              p(align="center" class="ftxt")  Tarea
            div(class="col s3")
              p(align="center" class="ftxt")  Tipo de asignación
            div(class="col s6")
              p(align="center" class="ftxt")  Enlace de invitación
          div(class="col s12")
            if tarea
              each i in tarea
                div(class="col s3")
                  p(align="center" class="ftxt")  
                      if i.assignType == 'individual'
                        a(href="/assign/"+ aula + "/" + i.title) 
                          i(class="octicon octicon-person")
                          span  #{i.title} 
                      else 
                        a(href="/groupassign/"+ aula + "/" + i.title) 
                          i(class="octicon octicon-organization")
                          span  #{i.title} 
                div(class="col s3")
                  p(align="center" class="ftxt") #{i.assignType}
                div(class="col s6")
                  p(align="center" class="ftxt") 
                    if i.assignType == 'individual'
                      span(class="iispace") https://codelab-tfg1718.herokuapp.com/assigninvitation/#{aula}#{i.title}
                    else 
                      span(class="iispace") https://codelab-tfg1718.herokuapp.com/groupinvitation/#{aula}#{i.title}
              else
                div(align="center" class="col s12")
                  p(class="noclass") No tiene tareas activas.      
            else   
              div(align="center" class="col s12")
                p(class="noclass") No tiene tareas activas.  

    include ../layouts/footerParams.pug
    script(type="text/javascript", src="../js/copy.js")
    script(type="text/javascript", src="../js/classroom.js")
